<!DOCYTYPE HTML>
<html>
<head>
<title>심혈관 질환 사전 진단 테스트</title>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&family=Nanum+Gothic&family=Stylish&display=swap" rel="stylesheet">
<style>
    *{
        font-family: 'Gamja Flower', cursive;
     }
</style>
</head>
<body>
    <div style="text-align : center;" >
        <h1>
            심혈관 질환 사전 진단 테스트
        </h1>
        <button type="button" onClick="location.href='/test'">
        Start
        </button>
    </div>
</body>
</html>